* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Hind", sans-serif;
}
.heading {
  max-width: 750px;
}
.heading h2 {
  font-size: 36px;
  line-height: 42px;
  color: #1a1d2d;
  font-weight: 600;
}

.heading p {
  color: #585858;
  line-height: 24px;
}
/*  header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
header a {
  color: white;
}
header .navbar .nav-item.active a {
  color: #35a22c;
}
header .navbar .nav-item a {
  position: relative;
  margin-right: 10px;
  transition: all 0.3s;
}
header .navbar .nav-item a:hover {
  color: #35a22c;
}
header .navbar .nav-item a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #35a22c;
  transition: all 0.3s;
}
header .navbar .nav-item.active a::before,
header .navbar .nav-item a:hover::before {
  width: 100%;
}
header .navbar .navbar-brand {
  font-size: 36px;
  color: white;
}
header .navbar .navbar-brand i {
  font-size: 45px;
  color: #35a22c;
}
.navbar-toggler {
  color: white;
  background-color: #35a22c;
}
button:focus {
  outline: none;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
header .navbar-toggler:hover {
  background-color: #0ea8cf;
}

/* carousel */

.carousel-item .item-bg {
  height: 100vh;
  min-height: 500px;
  min-width: 1000px;
}
.carousel-indicators {
  bottom: 50px;
}
.carousel-indicators li {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: none;
}

.carousel-caption img {
  width: 140px;
  border-radius: 50%;
  margin: auto;
}
.carousel-caption {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#carousel .carousel-item .item-bg {
  height: 100vh;
  min-height: 500px;
  object-fit: cover;
}
/* .carousel-item:nth-child(1) {
  background-image: url(../image/finland.jpg);
}
.carousel-item:nth-child(2) {
  background-image: url(../image/mountains.jpg);
}
.carousel-item:nth-child(3) {
  background-image: url(../image/mountains-1.jpg);
} */
/* .carousel-item{
  background-position: center;
  background-size: cover;
} */
.carousel-item {
  position: relative;
  /* height: 100vh; */
}
.carousel-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(39, 43, 54, 0.5);
}
.carousel-indicators li.active {
  background-color: #35a22c;
}
.carousel-caption h5 {
  font-size: 56px;
  line-height: 65px;
}
.carousel-caption p {
  font-size: 24px;
}

/* projects */

.project__list p {
  color: #585858;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #35a22c;
  color: #fff;
  border-color: #35a22c;
}
.nav-pills .nav-link {
  border: 1px solid black;
  color: black;
  margin: 0 5px;
}
.project__list .card {
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 0 0.4rem rgb(0 0 0 / 13%);
  border: none;
  cursor: pointer;
}
.project__list .card-body {
  border: 1px solid transparent;
  border-radius: 0 0 1rem 1rem;
  border-top: none;
  transition: all 0.5s;
}
.project__list .card:hover .card-body {
  border-color: #35a22c;
}
.card h5.card-title {
  font-size: 1.25rem;
  transition: all 0.5s;
}
.card:hover h5.card-title {
  color: #35a22c;
}
/* feature */
#feature {
  background: url(../image/3.jpg) no-repeat center;
  padding: 100px 0 120px;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
#feature .overlay {
  background: rgba(7, 10, 12, 0.72);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#feature .heading {
  position: relative;
}
.feature__content {
  color: white;
}
.feature__item {
  padding: 40px 40px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  transition: all 0.5s;
}
.feature__item:hover {
  background: #000;
  border-color: #fff;
}
.feature__item i {
  font-size: 48px;
  color: #35a22c;
}
.feature__item h4 {
  font-size: 20px;
  color: #fff;
  line-height: 30px;
  padding-top: 25px;
  font-weight: 800;
}
.feature__item p {
  padding-top: 15px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
/* award */
#award {
  position: relative;
  color: #585858;
  padding: 70px 0;
}
.award__bg {
  background-image: url(../image/memphis_3.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 50% auto;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.award__left {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(3px);
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
  padding: 45px;
}
.award__right {
  padding: 45px 0;
}
/* footer */
footer {
  background: #222;
}
.footer__main a {
  margin-right: 10px;
}
footer a {
  color: #aaa;
}
.footer__main i {
  width: 42px;
  height: 42px;
  line-height: 42px;
  border-radius: 50%;
  border: 1px solid #454545;
  transition: all 0.5s;
}

.footer__main i:hover {
  border-color: #35a22c;
  color: #35a22c;
}
.footer__copy {
  border-top: 1px solid #454545;
  padding-top: 30px;
  margin-top: 30px;
}
footer a:hover {
  text-decoration: none;
  color: #35a22c;
}
footer p {
  color: #aaa;
  margin: 0;
}

/* ***************RESPONSIVE************** */
@media screen and (max-width: 991.98px) {
  /* header */
  header .navbar-collapse {
    background-color: white;
  }
  #navbarPort .nav-item {
    margin: 0;
    padding: 0 10px;
  }
  header .navbar .nav-item a {
    color: #35a22c;
  }
  #navbarPort .nav-item:hover {
    background-color: #35a22c;
  }
  header .navbar .nav-item.active a::before,
  header .navbar .nav-item a:hover::before {
    width: 0;
  }
  header .navbar .nav-item:hover a {
    color: white;
  }
}
@media screen and (max-width: 767.98px) {
  .carousel-caption {
    width: 80%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* .carousel-item .item-bg {
    object-position: center;
  } */
}

@media screen and (max-width: 575.98px) {
  header .navbar .navbar-brand i {
    font-size: 8vw;
  }

  header .navbar .navbar-brand {
    font-size: 7vw;
  }
  .carousel-caption img {
    width: 120px;
  }
  .carousel-caption h5 {
    font-size: 10vw;
    line-height: 10vw;
  }
  .carousel-caption p {
    font-size: 5vw;
  }
  .carousel-caption {
    padding-top: 0;
  }
  .award__bg {
    background-size: cover;
  }
  #project .nav-pills .nav-item {
    padding: 5px 0;
  }
}
/*Đè responsive min-width của bootstrap */
@media screen and (min-width: 768px) {
  header .container {
    max-width: 882px;
  }
}
@media screen and (min-width: 992px) {
  header .container {
    max-width: 1110px;
  }
}
